<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="app/bower_components/normalize-css/normalize.css" />
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
        <div id="contacts">
            <header>
                <div id="filter"><label>Show me:</label></div>
                <a id="showForm" href="#">Add new contact</a>
                <hr>
                <form id="addContact" action="#">
                    <label for="photo">Photo:<input id="photo" type="file" /></label>
                    <label for="name">Name:<input id="name" /></label>
                    <label for="type">Type:<input id="type" /></label>
                    <label for="address">Address:<input id="address" /></label>
                    <label for="tel">Tel:<input id="tel" /></label>
                    <label for="email">Email:<input id="email" /></label>
                    <button id="add">Add</button>
                </form>
            </header>            
        </div>

        <script id="contactTemplate" type="text/template">
            <div class="photo">
                <img src="<%= photo %>" alt="<%= name %>" />
            </div>
            <div class="info">
                <span class="type"><%= type %></span>
                <h1><%= name %></h1>
                <div><%= address %></div>
                <li><strong>Tel:</strong><%= tel %></li>
                <li><strong>Email:</strong><a href="mailto:<%= email %>"><%= email %></a></li>
            </div>
            <div class="buttons">
                <button class="delete">Delete</button><button class="edit">Edit</button>
            </div>
        </script>
        <script id="contactEditTemplate" type="text/template">
            <form action="#">
                <input type="file" value="<%= photo %>" />
                <input class="name" value="<%= name %>" />
                <input id="type" type="hidden" value="<%= type %>" />
                <input class="address" value="<%= address %>" />
                <input class="tel" value="<%= tel %>" />
                <input class="email" value="<%= email %>" />
                <button class="save">Save</button>
                <button class="cancel">Cancel</button>
            </form>
        </script>



        <script src="app/bower_components/jquery/dist/jquery.js"></script>
        <script src="app/bower_components/underscore/underscore.js"></script>
        <script src="app/bower_components/backbone/backbone.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>